.caption {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;

  &__hero {
    width: 100%;
    height: 30rem;
    background: url("../../assets/images/mobile/image-best-gear.jpg") center /
      cover no-repeat;
    border-radius: 8px;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    max-width: 57.3rem;
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-dark-primary);

    .best {
      color: var(--color-primary);
    }
  }

  &__msg {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: 768px) {
  .caption {
    gap: 6.3rem;

    &__hero {
      background: url("../../assets/images/tablet/image-best-gear.jpg") center /
        cover no-repeat;
    }

    &__title {
      font-size: 4rem;
      line-height: 4.4rem;
      letter-spacing: 1.43px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .caption {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    &__hero {
      width: 54rem;
      height: 58.8rem;
      background: url("../../assets/images/desktop/image-best-gear.jpg") center /
        cover no-repeat;
    }

    &__content {
      width: 44.5rem;
    }

    &__title,
    &__msg {
      text-align: left;
    }
  }
}
