.main {
  padding: 1.6rem 0 9.7rem;
  background-color: var(--color-light-secondary);
}

.form {
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.2rem;
}

.checkout,
.summary {
  background-color: var(--color-light-primary);
  border-radius: 8px;
}

.checkout {
  padding: 2.4rem 2.4rem 3.1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.2rem;

  fieldset {
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.4rem;

    &.payment {
      row-gap: 3.2rem;
    }
  }

  legend {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.929px;
    margin-bottom: 1.6rem;
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    position: relative;

    &.error {
      label {
        color: #cd2c2c;
      }

      input {
        border: 2px solid #cd2c2c;
      }
    }

    .error {
      position: absolute;
      top: 0;
      right: 0;
      color: #cd2c2c;
      font-size: 1.2rem;
      font-weight: 500;
      text-align: right;
      letter-spacing: -0.214px;
      text-transform: capitalize;
    }
  }

  label {
    color: var(--color-dark-primary);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.214px;
  }

  input {
    padding: 1.9rem 2.4rem;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    color: var(--color-dark-primary);
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.25px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: -0.25px;
    }

    &:focus-visible {
      outline: none;
      border: 1px solid var(--color-primary);
      caret-color: var(--color-primary);
    }
  }
}

.title {
  color: var(--color-dark-primary);
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.method {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.6rem;

  &__title {
    color: var(--color-dark-primary);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.214px;
    text-transform: capitalize;
  }

  &__inputs {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
  }

  label {
    display: block;
    padding: 1.9rem 5.2rem;
    position: relative;
    color: var(--color-dark-primary);
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.25px;
    cursor: pointer;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    -webkit-user-select: none;
    user-select: none;
    transition: 0.3s border ease-in;

    &.checked {
      border: 1px solid var(--color-primary);
    }

    &:hover {
      border: 1px solid var(--color-primary);
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark::after {
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
    height: 2rem;
    width: 2rem;
    border: 1px solid #cfcfcf;
    border-radius: 50%;

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: var(--color-primary);
    }
  }
}

.emoney {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
}

.cash {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;

  &__message {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
  }
}

.summary {
  padding: 3.2rem 2.4rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.2rem;
}

.btn {
  &__submit {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 4.8rem 0 11.6rem;
  }

  .checkout {
    padding: 3rem 2.8rem;
    row-gap: 4.1rem;

    fieldset {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.6rem;

      &.payment {
        grid-template-columns: 1fr;
        row-gap: 2.4rem;
      }
    }

    .billing {
      margin-bottom: 1.2rem;
    }

    .shipping {
      margin-bottom: 2rem;
    }

    .address {
      grid-column: 1 / span 2;
    }
  }

  .title {
    font-size: 3.2rem;
    line-height: 3.6rem;
    letter-spacing: 1.143px;
  }

  .emoney,
  .method {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.6rem;
  }

  .cash {
    grid-template-columns: min-content 1fr;
    column-gap: 3.2rem;
    height: 8.5rem;
    padding-top: 1rem;
  }

  .summary {
    padding: 3.2rem 3.3rem;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    padding: 7.9rem 0 14.1rem;
  }

  .form {
    margin-top: 3.8rem;
    grid-template-columns: 73rem 35rem;
    column-gap: 3rem;
    align-items: start;
  }

  .checkout {
    padding: 5.4rem 4.8rem 4.8rem;
  }
}
