.main {
  padding: 1.6rem 0 12rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 17.2rem;
}

.product,
.common {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12rem;
}

.product {
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8.8rem;
  }
}
